.nextflow*
work/
.DS_Store
testing/
testing*
*.pyc
null/
results/*cogs.csv
results/

data/clade_names/pending/test/prompts/*
data/clade_names/pending/test/problems/*.counts.tsv
data/clade_names/pending/test/problems/*.lineage.tsv