params {
    species_list      = "${baseDir}/data/species_list.txt"
    clade_names       = "${baseDir}/data/geneplast_clade_names.tsv"
    string_eukaryotes = "${baseDir}/data/string_eukaryotes.rda"
    geneplast_data    = "${baseDir}/data/gpdata_string_v11.RData"
    protein_info      = "${baseDir}/data/protein.info.v11.0.txt.gz"

    outdir            = "../orthoguide_front/public/"
}

process {
    cpus = 2
    memory = '4.GB'

    errorStrategy = 'retry'
    maxRetries = 2

    withName: GENEBRIDGE {
        memory = '50.GB'
        publishDir.enabled = false
    }

    withName: DB_CREATION {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
            saveAs: { filename -> "orthoguide_data.db" }
        ]
    }
}

profiles {
    docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        docker.enabled = false
    }
}
